<!-- src/main/resources/templates/fragments/profile.html -->
<!-- th:fragment="image (user, size)" 가 img 태그에 바로 걸리게 합니다 -->
<img th:fragment="image (user, size)"
     th:if="${user.profileImage != null}"
     th:src="@{/images/profiles/{fn}(fn=${user.profileImage})}"
     th:class="'profile-pic profile-'+${size}"
     th:style="'width:'+${size}+'px;height:'+${size}+'px;'"
     alt="프로필 이미지"/>
<img th:fragment="defaultImage (size)"
     th:src="@{/images/default-profile.png}"
     th:class="'profile-pic profile-'+${size}"
     th:style="'width:'+${size}+'px;height:'+${size}+'px;'"
     alt="기본 프로필 이미지"/>


<!--아래 코드 프로필 이미지-->
<img th:if="${#authentication.principal.profileImage != null}"
     th:src="@{/images/profiles/{fn}(fn=${#authentication.principal.profileImage})}"
     alt="프로필" class="profile-pic"/>
<img th:if="${#authentication.principal.profileImage == null}"
     src="/images/default-profile.png"
     alt="프로필" class="profile-pic"/>